/* Reset */
body, main, ul, p, h1, h2 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
  

/* Commons */
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Layouts */
.l_row {
    clear: both;
    margin: 0 -10px -20px -10px;
}

.l_col {
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 20px;
}
    
.l_col_desktop_12_12 { width: 100%; }
.l_col_desktop_11_12 { width: 91.66666667%; }
.l_col_desktop_10_12 { width: 83.33333333%; }
.l_col_desktop_9_12  { width: 75%; }
.l_col_desktop_8_12  { width: 66.66666667%; }
.l_col_desktop_7_12  { width: 58.33333333%; }
.l_col_desktop_6_12  { width: 50%; }
.l_col_desktop_5_12  { width: 41.66666667%; }
.l_col_desktop_4_12  { width: 33.33333333%; }
.l_col_desktop_3_12  { width: 25%; }
.l_col_desktop_2_12  { width: 16.66666667%; }
.l_col_desktop_1_12  { width: 8.33333333%; }

/* Components */
.main {
    position: relative;
}

.main_cover {
    width: 50%;
    position: fixed;
    left: 0;
    top: 0;
}

.main_image {
    width: 100%;
    left: 0;
    top: 0;
}

.main_title {
    position: inherit;
    bottom: 0;
    left: 0;
    font-size: 7vw;
    padding: 20px;
    line-height: 1;
    color: white;
}

.main_contents {
    width: 50%;
    float: right;
}

.section {
    padding: 20px;
}

.title {
    margin-bottom: 20px;
}

.gallery {
}
.gallery img {
    width: 100%;
}

.button {
    width: 100%;
    background-color: rgb(254, 214, 49);
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5em;
    padding: 20px;
    border: 0;
    font: inherit;
}
.button_prev {
    text-align: left;
}
.button_next {
    text-align: right;
}

/* Mediaquries */
@media (max-width: 1200px) {
    .main_cover {
        width: auto;
        padding-top: 50%;
        position: relative;
        overflow: hidden;
    }
    
    .main_image {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
    }
    
    .main_title {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 7vw;
        padding: 20px;
        line-height: 1;
        color: white;       
    }
    
    .main_contents {
        width: 100%;
        float: initial;
    }

    .l_col_12_12 { width: 100%; }
    .l_col_11_12 { width: 91.66666667%; }
    .l_col_10_12 { width: 83.33333333%; }
    .l_col_9_12  { width: 75%; }
    .l_col_8_12  { width: 66.66666667%; }
    .l_col_7_12  { width: 58.33333333%; }
    .l_col_6_12  { width: 50%; }
    .l_col_5_12  { width: 41.66666667%; }
    .l_col_4_12  { width: 33.33333333%; }
    .l_col_3_12  { width: 25%; }
    .l_col_2_12  { width: 16.66666667%; }
    .l_col_1_12  { width: 8.33333333%; }
}
